@import "bootstrap";

.list-group-item {
  padding: 5px 10px;
}

.search-form {
  margin-bottom: 15px;
  .btn {
    margin-left: 10px;
  }
}

.loader {
  position: absolute;
  left: 50%;
  .spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .text {
    font-size: 12px;
    color: #e3e3e3;
  }
}
